@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    padding-top: 10vh;
}

img {
    /* center "pi" image */
    margin-left: auto;
    margin-right: auto;
    display: block;

    margin-top: 20vh;
}

p {
    text-align: center;
    padding-top: 1%;    
}