/* import Poppins Regular 400 font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    padding-top: 10vh;
}

/* center "pi" image */
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20vh;
}

p {
    text-align: center;
    padding-top: 1%;    
}

/* navbar properties */
#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}
  
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* space to enable scrolling */
#holder {
    height: 100vh;
}

/* to make links look less disgusting*/
a {
    color: blue;
    text-decoration: none;
}

h3.home {
    text-align: center;
    line-height: 2;
}